:root{
    /* colors */
    --dark:#0B0D17;
    --white:#FFFFFF;
    --violet:#D0D6F9;

    /* typography */
    --heading:'Bellefair', serif;

    font-family: 'Bellefair', serif;
    font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/home/background-home-desktop.jpg);
    height: 100vh;
    font-family: "Bellefair", sans-serif;
    background-size: cover;
    background-position: center;
    color: var(--white);
}
